#include "resource.h"

#pragma code_page(65001)

IDI_WINLAUNCHER         ICON                    "sjl.ico"
IDI_SMALL				ICON                    "small.ico"
IDI_SJL					ICON                    "sjl.ico"

STRINGTABLE
BEGIN
  //ManualSynchronization on 11.01.24 17:47
  IDC_SJL							"SJLauncher"
END
