#include "resource.h"

#pragma code_page(65001)

IDI_WINLAUNCHER         ICON                    "wingui.ico"

STRINGTABLE
BEGIN
  IDS_MAIN_CLASS                    "com/gridnine/sjl/example/winGui/WinGui"
  IDS_CLASS_PATH                    "..\\..\\..\\..\\examples\\sample-gui-app\\dist\\sample-gui-app.jar"
  IDS_JVM_PATH                      "..\\..\\..\\..\\examples\\sample-gui-app\\dist\\jdk"
  IDS_VM_OPTIONS                    "-Xms128m|-Xmx??256m"
  IDS_VM_OPTIONS_FILE               ""
  IDS_RESTART_EXIT_CODE             "79"
  IDS_MUTEX_NAME                    "SJL"
  IDS_SJL_DIR                       ".sjl"
  //ManualSynchronization on 11.01.24 17:47
  IDS_APP_TITLE						"SimpleJavaLauncher"
  //IDC_SJL							"SJLauncher"
  IDS_LAUNCH_SINGLETON				"1"
  IDS_SHOW_SPLASH					"1"
END
