/build/
sjl.suo
/x64/
/.vs/
/win-gui/x64/
/win-gui/win-gui.vcxproj.user
/win-gui/win-gui.aps
/temp1/x64/Debug/temp1.tlog/CL.command.1.tlog
/temp1/x64/Debug/temp1.tlog/Cl.items.tlog
/temp1/x64/Debug/temp1.tlog/CL.read.1.tlog
/temp1/x64/Debug/temp1.tlog/CL.write.1.tlog
/temp1/x64/Debug/temp1.tlog/link.command.1.tlog
/temp1/x64/Debug/temp1.tlog/link.read.1.tlog
/temp1/x64/Debug/temp1.tlog/link.write.1.tlog
/temp1/x64/Debug/temp1.tlog/temp1.lastbuildstate
/temp1/x64/Debug/Splash.obj
/temp1/x64/Debug/temp1.exe.recipe
/temp1/x64/Debug/temp1.ilk
/temp1/x64/Debug/temp1.obj
/temp1/x64/Debug/vc143.idb
/temp1/x64/Debug/vc143.pdb
/temp1/temp1.vcxproj.filters
/temp1/temp1.vcxproj.user
/temp1/x64/Debug/temp1.tlog/rc.command.1.tlog
/temp1/x64/Debug/temp1.tlog/rc.read.1.tlog
/temp1/x64/Debug/temp1.tlog/rc.write.1.tlog
/temp1/x64/Debug/wingui.res
/win-gui/Debug/sjl.tlog/CL.command.1.tlog
/win-gui/Debug/sjl.tlog/Cl.items.tlog
/win-gui/Debug/sjl.tlog/CL.read.1.tlog
/win-gui/Debug/sjl.tlog/CL.write.1.tlog
/win-gui/Debug/sjl.tlog/link.command.1.tlog
/win-gui/Debug/sjl.tlog/link.read.1.tlog
/win-gui/Debug/sjl.tlog/link.write.1.tlog
/win-gui/Debug/sjl.tlog/rc.command.1.tlog
/win-gui/Debug/sjl.tlog/rc.read.1.tlog
/win-gui/Debug/sjl.tlog/rc.write.1.tlog
/win-gui/Debug/sjl.tlog/sjl.lastbuildstate
/win-gui/Debug/sjl.exe.recipe
/win-gui/Debug/sjl.ilk
/win-gui/Debug/sjl.obj
/win-gui/Debug/vc143.idb
/win-gui/Debug/vc143.pdb
/win-gui/Debug/wingui.res
/win-gui/Release/win-gui.tlog/CL.command.1.tlog
/win-gui/Release/win-gui.tlog/Cl.items.tlog
/win-gui/Release/win-gui.tlog/CL.read.1.tlog
/win-gui/Release/win-gui.tlog/CL.write.1.tlog
/win-gui/Release/win-gui.tlog/link.command.1.tlog
/win-gui/Release/win-gui.tlog/link.read.1.tlog
/win-gui/Release/win-gui.tlog/link.write.1.tlog
/win-gui/Release/win-gui.tlog/win-gui.lastbuildstate
/win-gui/Release/AppUpdater.obj
/win-gui/Release/Debug.obj
/win-gui/Release/ExceptionWrapper.obj
/win-gui/Release/JVM.obj
/win-gui/Release/Locations.obj
/win-gui/Release/Resources.obj
/win-gui/Release/SelfUpdater.obj
/win-gui/Release/SingleInstanceChecker.obj
/win-gui/Release/SplashScreen.obj
/win-gui/Release/Utils.obj
/win-gui/Release/vc143.pdb
/win-gui/Release/win-gui.exe.recipe
/win-gui/Release/win-gui.iobj
/win-gui/Release/win-gui.ipdb
/win-gui/Release/win-gui.vcxproj.FileListAbsolute.txt
/win-gui/Release/WinGui.obj
/Release/win-gui.exe
/Release/win-gui.pdb
/win-gui/Release/

/win-gui/Release/
/win-gui/Release/
/sjl/
/.vs/sjl/FileContentIndex/
/.vs/sjl/v17/
